<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Plaid</title>
</head>

<body>
    <main>
        <h1>Hello, this is the new landing page.</h1>

        <button id="loginButton">Click Here To Log In!</button>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
        $('#loginButton').on('click', function () {
        window.location = '/index';
        });
    </script>

</body>

</html>