#Banner {

margin: 0px 0px 10px 0px;
border-bottom: 10px solid teal;


}

#loginButton {


align-items: center;

}



#loginButton:hover {


color: black;


}

.wrapper {

    text-align: center
}

#homepageImage{
  max-width: 100%;
  /* width: 50px; */
}


.Desc {

}

#main {

margin-bottom: 50px;

}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  #funnyTag{
    font-size: 90%;
    color: grey;
  }