#Banner {

margin: 0px 0px 10px 0px;
border-bottom: 10px solid teal;


}

#loginButton {


align-items: center;

}



#loginButton:hover {


color: black;


}

.wrapper {

    text-align: center
}



.Desc {

    border: 10px;
    border-color: 0D4E49;
    border-style: inset;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: teal;
}

#main {

margin-bottom: 130px;

}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
  h4 {

    color: teal;
    font-weight: bold;

  }